# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
